<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    
	<link href="/photoeditor/static/css/bootstrap.css" rel="stylesheet">

	<link href="/photoeditor/static/css/style.css" rel="stylesheet">
	<title>Saveback Photo Editor</title>
</head>
<body>
<h1>Saveback Photo Editor</h1>
<div id="editpane">
	<button class="btn btn-large btn-primary openbutton">Open an Image</button>
</div>

<!-- Load widget code -->
<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
<script type="text/javascript" src="http://savebackio.herokuapp.com/static/js/saveback.js"></script>
<script src="/photoeditor/static/js/app.js"></script>
</body>
</html>
